body {
	background: #fafafa;
	scroll-behavior: smooth;
	

}

p {
	
	font-family: degular, sans-serif;

	font-weight: 400;

	font-style: normal;
}

a {
	font-family: degular, sans-serif;

	font-weight: 500;

	font-style: normal;
}

img {
	margin-right: 3%;
	margin-bottom: 3%;
	object-fit: cover;

}

video {
	margin-right: 3%;
	margin-bottom: 3%;
}

a:hover {
	transition: 0.3s;
	cursor: pointer;
	color: #1200db;
	transform: scale(1.02);
}

a {
	text-decoration: none;
    color: black;
    margin-bottom:8px; 
}

ul {
	list-style-type: circle;
}

ul.description_txt_1 {
	list-style-type: circle;

}

/* structure */

.pagecont {
	display: flex;
    justify-content: center;
}
.container {
	display: flex;  
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin-top: 4%; 


}

/* menu */


#bothmenu {
	position: fixed;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center; 
	justify-content: space-between;
	margin: 1%;
	top:-2%;
	background-color: #fafafa;



}

#leftmenu {
	display: flex;
	width: 30%;
	flex-direction: column;
	justify-content: flex-end;
	flex-wrap: nowrap;
	align-items: flex-end;
	margin-top: 1%;

}

.rightmenu {
	width: 20%;
	display: flex;
	justify-content: flex-start;	
	margin-left: 2%;
	top: -3%;

}

.bottommenu {
	width: 100%;
	display: flex;
	background-color: #fafafa;
	justify-content: space-around;	



}


.bottommenu1 {
	width: 100%;
	display: flex;
	justify-content: space-around;	
	position: fixed;
	top: 94%;
	padding-bottom: 0.4%;
	padding-top: 0.7%;
	background-color:#fafafa;
}

#bottommenu {
	background-color: #fafafa;
}


.menu {
	position: fixed;
	flex:20%;
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-top: 3%;
	margin-right: 7%;
	
	
}

a.name {
	font-family: jaf-lapture-display, serif;
	font-style: normal;
	font-size: 30px;
	font-weight: 800;	
}

.name {
	
}

.side {
	font-size: 27px;
	font-weight: 700;
	font-family: jaf-lapture-display, serif;
	margin-bottom: 1%;
	width: 100%;

}

.sidebar_item {
	font-size: 18px;
	font-family: jaf-lapture-display, serif;
	font-weight: 600;
	color: #1200db;
}

.sidebar_item:hover {
	color: #bcc105;
}

#logo2 {
	position: fixed;
	left:6%;
	opacity: 1;
	margin-top: -7%;
	margin-right: 7%;
	display: none;
}

#logo {
	font-family: eckmannpsych-medium,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 160%;
	width: 100%;
	margin: 0;
	overflow: hidden;
    white-space: nowrap;
    z-index: 2;

    background: linear-gradient(319deg, #1100ff, #99a6d7, #1937a8, #afcfee);
    background-size: 800% 800%;

    -webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;

    -webkit-animation: AnimationName 13s ease infinite;
    -moz-animation: AnimationName 13s ease infinite;
    animation: AnimationName 13s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}
@keyframes AnimationName {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}

.box {
	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	width: 100%;
  	margin-top: 9%;
}

.box1 {
	display: flex;
  	flex-direction: column;
  	width: 100%;
  	margin-top: -80%;
}

.col1 {
	display: flex;
  	flex-direction: column;
  	flex-basis: 100%;
  	flex: 1;
}


.col2 {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	opacity: 0;
	z-index: 2;
	
}

a.contact {
	margin-bottom: 17px;
	font-size: 24px;
	font-weight: 700;
	font-family: jaf-lapture-display, serif;
	color: #1200db;
}

a.contact:hover {
	color: #d10000;
}




/* home page */

.container_home {
	display: flex;  
    align-items: center;
    justify-content: center;
    flex-direction: column;
	width: 100%;
	margin-top: 5%;
	animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    max-width: 1000px;


   
}

.eck {
	font-family: eckmannpsych-medium,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 50px;
	width: 100%;

}

.euro {
	font-family: eurostile-extended,sans-serif;
	font-weight: 400;
	font-style: normal;
}


#location {
	position: fixed;
	z-index: -5;
}

#heart {
	
	
	top: 2%;
	max-width: 200px;
	max-height: 200px;
	overflow: hidden;

}

canvas {
	position: fixed;
	z-index: -3;
	left: 50%;
	transform: translate(-50%, 0%);
	top: -10%;

}


.thumbs_wrapper {
	display: flex;
    justify-content: center;
    flex-direction: row;
    flex-basis: 100%;
    flex:1;  
    align-content: flex-start;
    align-items: flex-start;
}

.picss {
	display: flex;
	align-content: flex-start;
	flex-direction: column;
	align-items: center;
	max-width: 460px;
	justify-content: center;

}

.pageitem {
	display: flex;
	flex-direction: row;

}

.carousel-control span.glyphicon {
    color: blue;
}

a.txtover {
	margin-right: 7%; 
	margin-left: 7%; 
	margin-bottom: 12%;
	position: relative;	
}
a.txtover:hover img {
	opacity: .1;
	transition: 0.4s;
	cursor: pointer;
	color: #1200db;
}


a.txtover:hover video {
	opacity: .1;
	transition: 0.4s;
	cursor: pointer;
	color: #1200db;
}


a.txtover:hover #title {
	transition: 0.2s;
	opacity: 1;
}

#newtitle {
	position: relative;
	margin-left: 2%;
  	font-size: 32px;
  	color: #1200db;
  	opacity: 1;
	font-family: jaf-lapture, serif;
	font-weight: 400;
	font-style: italic;	
}

.newhome {
	display: flex;
	justify-content: center;
}

#title {	
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%,-50%);
  	font-size: 18px;
  	text-align: center;
  	opacity: 0 
}

#frontpics {
	max-width: 100%;
	max-height: 10%;
	margin:0%;
}


/* generic page */
.dTitle {
	position: fixed;
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: 700;
	font-family: jaf-lapture-display, serif;
	z-index: -1;
	color: #1200db;
}

.description {
	margin-top: 8%;
	margin-bottom: 5%;
}

.description_txt {
	font-weight: 300;
	font-size: 20px;
	font-family: degular, sans-serif;
	margin-bottom: 0.5%;
	
}

.specs_txt {
	font-weight: 300;
	font-size: 20px;
	font-family: degular, sans-serif;
	margin-bottom: 0.5%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.boldwrd {
	font-weight: 700;
	font-family: jaf-lapture-display, serif;
	font-size: 27px;
	color: #1200db;
	width: 100%;
}

.pics {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 3%;

	display: flex;
	align-content: flex-start;
	flex-direction: row;
	margin: 3%;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;

}

.portpics {
	margin-right: 25px;
	margin-bottom: 25px;
	animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.description_txt_1 {
	margin-top: -10px;
	font-size: 20px;
	font-family: degular, sans-serif;
	font-weight: 300;

}

.portpics:hover {
	transition: 0.3s;
	transform: scale(1.08);
	max-width: 100%;
}

/* his pills */
#his.pics {
	animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}


/* graphics */
#graph.portpics {
	margin-right: 40px;
	margin-bottom: 40px;
	animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.pics_graphics {
	display: flex;
	align-content: flex-start;
	flex-direction: row;
	margin: 3%;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;	
}

/* papaya */
.left_title {
	display: flex;
	flex-direction: row;
	align-content: space-between;
}

/* contact */
.contactpic {
	margin-right: 25px;
	margin-bottom: 25px;
	margin-left: 25px;
	animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.ml6 {
  font-weight: 600;
  font-size: 38px;
  font-family: jaf-lapture, sans-serif;
  position: relative;
  display: flex;
  align-self: center;
}

.ml6 .text-wrapper {	
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}
#abt.container {
	display: flex;  
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
    margin-top: 4%;
}
#abt.pagecont {
	display: flex;
    justify-content: center;
}
#contact.picss {
	display: flex;
	align-content: flex-start;
	flex-direction: column;
	margin: 3%;
	justify-content:center;
	align-items: flex-start;
	max-width: 600px;
}

#about.thumbs_wrapper {
	display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1300px;
    flex-basis: 100%;
    flex:1; 


}


/* random */

.containercontact {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: flex;
    flex-direction: column;
    max-width: 800px;
   	margin-top: -2%;
    align-items: center;
}



.title_thumb {
	font-family: jaf-lapture-display, serif;
	font-weight: 600;
	margin-top: 3%;
	margin-bottom: 1%;
	font-size: 20px;
}

.title_thumb {
	font-size: 24px;

}
.title_pics {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
}

.txtcont {
	max-width: 700px;
	margin-bottom: 2%;
}

#newtitle_1 {	
	position: absolute;
  	left: 4%;
  	top: -13%;
  	font-size: 35px;
  	color: #1200db;
  	text-align: center;
  	opacity: 1;
	font-family: monarcha, serif;
	font-weight: 400;
	font-style: italic;
}



.sub_thumb {
	margin-bottom: 5%;
}

.boldwrd1 {
	font-weight: 700;
	font-family: jaf-lapture-display, serif;
	font-size: 20px;
	color: #1200db;
	margin:10px;
	text-align: start;
}

.boldwrdd {
	font-weight: 600;
}

.contacttxt {	
	margin-top: 15%;
	font-size: 18px;
}



/* color changer */
.center-con {
	position: fixed;
	left: 95%;
	top: 50%;
	transform: translateY(-10%);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.round {
    position: absolute;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 100%;   
}

#cta{
    width:100%; cursor: pointer; position: absolute;

}

#cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0; margin-top: -3px; margin-left:0px; width: 20px; height: 20px; background-size: contain; top:15px;}
.segunda{margin-left: 10px;}
.next {
	background-image: url(http://icons.iconarchive.com/icons/icons8/ios7/512/Weather-Partly-Cloudy-Night-icon.png);
}

@keyframes load-in {
	from {opacity: 0}
	to {opacity: 1}
}


@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.center-con:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.center-con:hover .arrow.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}



@keyframes fadeInAnimation {
	from { 
		
		opacity:0; 
	} 
 	to { 
 		
 		opacity:1; 
 	}
}














