body {
	background: #f7f6ed;
	scroll-behavior: smooth;

}

p {
	
	font-family: degular, sans-serif;

	font-weight: 400;

	font-style: normal;
}

a {
	font-family: degular, sans-serif;

	font-weight: 500;

	font-style: normal;
}


.menu {

	flex:20%;
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	position: fixed;
	margin-top: 3%;
	margin-right: 0%;

}

.container {
	display: flex;  
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin-top: 4%;




}

#home.container {
	max-width: 1000px;
	margin-top: 3%;
}

.pagecont {
	display: flex;
    
    justify-content: center;
}

.containerhome {
	
	display: flex;
    
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin-top: 5%;
 

   
}

.containercontact {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: flex;
    flex-direction: column;
    max-width: 800px;
   	margin-top: -2%;
    align-items: center;

}

a.name {
	font-family: jaf-lapture-display, serif;
	font-style: normal;
	font-size: 30px;
	font-weight: 800;

	
}

.name {
	margin-bottom: -10%;
}

.menucontents {
	display: flex;
	flex-direction: column;

	
}

.side {
	font-size: 17px;
	font-weight: 700;
	font-family: jaf-lapture-display, serif;
	margin-bottom: 1%;

}

.sidebar_item {
	font-size: 18px;

}


.title_thumb {
	font-family: jaf-lapture-display, serif;
	font-weight: 600;
	margin-top: 3%;
	margin-bottom: 1%;
	font-size: 20px;

}

.thumbs_wrapper {
	display: flex;
    justify-content: center;

    flex-direction: row;
    max-width: 1300px;

    flex-basis: 100%;
    flex:1;
    
}


.title_thumb {
	font-size: 24px;

}
.title_pics {


	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;



}

.txtcont {
	max-width: 700px;
	margin-bottom: 2%;


}

img {
	margin-right: 3%;
	margin-bottom: 3%;

}

video {
	margin-right: 3%;
	margin-bottom: 3%;
}

a:hover {
	transition: 0.3s;
	cursor: pointer;
	color: #b51414;
	transform: scale(1.02);
}

a {
	text-decoration: none;
    color: black;
    margin-bottom:8px; 
}

a.contact {
	margin-top: 10px;
	font-size: 17px;
	font-weight: 700;
	font-family: jaf-lapture-display, serif;
	margin-top: -83%;


}

a.contactt {
	margin-top: 10px;
	font-size: 17px;
	font-weight: 700;
	font-family: jaf-lapture-display, serif;



}


a.txtover {
	margin-right: 10%; 
	margin-bottom: 15%;
	position: relative;	



}

#title {
	
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%,-50%);
  	font-size: 18px;
  	text-align: center;
  	opacity: 0 


}

#newtitle {
	position: relative;
	margin-left: 2%;
  	font-size: 32px;
  	color: #b51414;
  	opacity: 1;
	font-family: jaf-lapture, serif;
	font-weight: 400;
	font-style: italic;
	
}

#newtitle_1 {
	
	position: absolute;
  	left: 4%;
  	top: -13%;
  	font-size: 35px;
  	color: #b51414;
  	text-align: center;
  	opacity: 1;
	font-family: monarcha, serif;
	font-weight: 400;
	font-style: italic;
	
	
}




a.txtover:hover img {
	opacity: .1;
	transition: 0.4s;
	cursor: pointer;
	color: #b51414;
}


a.txtover:hover video {
	opacity: .1;
	transition: 0.4s;
	cursor: pointer;
	color: #b51414;
}


a.txtover:hover #title {
	transition: 0.2s;
	opacity: 1;
}

.pics {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 3%;

	
}

.pics_graphics {
	display: flex;
	align-content: flex-start;
	flex-direction: row;
	margin: 3%;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;

	
}

.picss {
	display: flex;
	align-content: flex-start;
	flex-direction: column;
	margin: 3%;
	align-items: center;
	
}

.sub_thumb {
	margin-bottom: 5%;
}

.portpics {
	margin-right: 25px;
	margin-bottom: 25px;
}

#graph.portpics {
	margin-right: 40px;
	margin-bottom: 40px;
}

.portpics:hover {
	transition: 0.3s;
	transform: scale(1.08);
}

.contactpic {
	margin-right: 25px;
	margin-bottom: 25px;
	margin-left: 25px;
	


}


.dTitle {
	position: fixed;
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: 700;
	font-family: jaf-lapture-display, serif;
	z-index: -1;
	color: #b51414;
}

.description {
	margin-top: 8%;
}

.boldwrd {
	font-weight: 700;
	font-family: jaf-lapture-display, serif;
	font-size: 27px;
	color: #b51414;

}

.boldwrdd {
	font-weight: 600;


}

.description_txt {
	font-weight: 300;
	font-size: 20px;
	font-family: degular, sans-serif;
	margin-bottom: 0.5%;

}
.description_txt_1 {
	
	margin-top: -10px;
	font-size: 20px;
	
	font-family: degular, sans-serif;

	font-weight: 400;

}

.ml6 {
  font-weight: 600;
  font-size: 38px;
  font-family: jaf-lapture, sans-serif;
  position: relative;
  display: flex;
  align-self: center;
 



}

.ml6 .text-wrapper {

 	
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}


.contacttxt {
	
	margin-top: 15%;
	font-size: 18px;
}

.picss {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-left: 5%;

}


.center-con {
	position: fixed;
	left: 95%;
	top: 50%;
	transform: translateY(-10%);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}



.round {
    position: absolute;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    
}



.box {
	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	width: 100%;
  	margin-top: 9%;


}

.col1 {
	display: flex;
  	flex-direction: column;
  	flex-basis: 100%;
  	flex: 1;

}

#cd.box {
	margin-top: -56%;
	margin-bottom: -30%;
	
}

#col2 {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	opacity: 0;
	margin-left: 16%;
	z-index: 1;
}

#col2cd {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	opacity: 0;
	margin-left: 18%;
	
}

.box:hover  #col2 {
	transition: 0.2s;
	opacity: 1;
	
}

#cd.box:hover #col2cd {
	transition: 0.2s;
	opacity: 1;
	z-index: 1;
}

#logo2 {
	position: fixed;
	left:5.5%;
	opacity: 0;
}

.name:hover #logo2 {
	position: fixed;
	left: -1%;
	opacity: 1;
}

.name:hover #logo {


	opacity: 0
}

.newhome {
	
}


#cta{
    width:100%; cursor: pointer; position: absolute;

}

#cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0; margin-top: -3px; margin-left:0px; width: 20px; height: 20px; background-size: contain; top:15px;}
.segunda{margin-left: 10px;}
.next {
	background-image: url(http://icons.iconarchive.com/icons/icons8/ios7/512/Weather-Partly-Cloudy-Night-icon.png);
}

@keyframes load-in {
	from {opacity: 0}
	to {opacity: 1}
}


@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.center-con:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.center-con:hover .arrow.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
















